@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body{
    background : #1E1F21;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size:1.000em;
    font-size:1.000rem;
    font-weight: normal;
}
/*모바일*/
#wrap{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
}

#wrap section{
    box-sizing: border-box;
}



#chart-container {
    display: flex;
    justify-content: center;
    width: 98%;
    margin: 1%;

}
#chart-container_2{
    display: flex;
    justify-content: center;
    width: 98%;
    margin: 1%;
}


.header{
    display:flex;
    order:1;
    flex-direction:column;
    position:relative;
    width:100%;
}

.logo{
    order:1;
    width:100%;
    padding:15px 0;
    padding:0.9375rem 0;
    font-size:1.188em;
    font-size:1.188rem;
    text-align:center;
    text-transform:uppercase;
    background: transparent;
}

.logo a{
    color:#fff;
    font-weight: bold;
}

.nav{
    order:2;
    width:100%;
}

.gnb{
    display:none;
}

.gnb li{
    display:flex;
    background: #4b515f;
}

.gnb li a{
    width:80%;
    padding:20px 0;
    padding:1.250rem 0;
    font-size:0.938em;
    font-size:0.938rem;
    text-indent:20px;
    text-indent:1.250rem;
    font-weight:bold;
    text-transform:uppercase;
}

.gnb li span{
    width:20%;
    text-indent:-9999px;
    background:url(../images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor:pointer;
}

.menu_toggle_btn{
    display:block;
    width:30px;
    width:1.875rem;
    height:30px;
    height:1.875rem;
    position:absolute;
    top:10px;
    top:0.625rem;
    right:10px;
    right:0.625rem;
    text-indent:-9999px;
    background:url(../images/menu_toggle.png) no-repeat;
    cursor:pointer;
}



.main_section{
    order:2;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.select_section{
    background:#2d333d;
    width: 100%;
    order: 1;
    font-size:0.900em;
    font-size:0.900rem;
    font-weight: lighter;
    min-height: 30px;
    text-align: center;
    line-height: 25px;
}


.option_section{
    display: flex;
    flex-flow: row;
    width: 98%;
    min-height: 30px;
    order: 2;
    background:  #2d333d;
    margin:1%;
}
.option_select{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 90%;
}



.graph_section{
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    order: 3;
    width: 98%;
    margin: 1%;
    background: #2d333d;
    min-height: 300px;
    min-height: 18.75rem;
    box-shadow: 1px 1px 7px 1px rgba(163, 174, 184, 0.1);
}
.graph_title{
    min-height: 25px;
    font-weight: bold;
    padding: 10px;
    padding: 0.625rem;
    background: #4b515f;
    border-top: #04aacc solid 3px;
}


.menubar_section{
    display: flex;
    order:3;
    background: #2d333d;;
    width: 100%;
    margin-top:10px;
}

.menubar_list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width:100%;
}

.menubar_list li a{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding:8px 0;
    padding:0.5rem 0;
    font-weight: lighter;
    font-size:0.800em;
    font-size:0.800rem;
    width: 60px;
}

.menubar_list_item{
    margin-top: 8px;
}



.select_menubar{
    background: #4b515f;
}
.select_menubar i{
    color:#04aacc;
}



/*드롭다운*/
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background: url(../images/s_images/list_next_btn.png) no-repeat 95% 50%;

}
select::-ms-expand{
    display:none;
}

select {
    width: 80px;
    padding: 8px;
    padding: 0.5rem;
    font-family: inherit;
    font-size:1.000em;
    font-size:1.000rem;
    color:white;
    background: url(../images/s_images/list_next_btn.png) no-repeat 95% 50%;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.drop_select_market, .drop_select_coin, .drop_select_time{
    display: flex;
    flex-flow: row;
    margin: 5px;
    margin: 0.3125rem;
    min-height: 30px;
    width: 90px;
    background-color: #4b515f;
}

.deal_btn_section{
    display: flex;
    width: 80px;
}
.deal_btn_section button{
    background:  #04aacc;
    color:white;
    width: 90%;
    border: none;
    margin: 10px;
}





/*태블릿*/
@media all and (min-width:768px) {

    #wrap{
        flex-flow: row wrap;
    }

    .header{
        flex-direction:row;
    }

    .logo{
        position:absolute;
        top:0;
        left:0;
        z-index:10;
        width:15.625%;
        /* 120px ÷ 768px */
        padding: 10px;

    }

    .logo a{
        display:block;

    }

    .nav{
        position:relative;
        min-height:50px;
        min-height:3.125rem;
        background:transparent;
    }

    .gnb{
        position:absolute;
        top:100%;
        right:0;
        z-index:20;
        width:40.10416666666667%;
        /* 308px ÷ 768px */
    }

    .menu_toggle_btn{
        top:50%;
        right:30px;
        right:1.875rem;
        z-index:20;
        margin-top:-15px;
        margin-top:-0.938rem;
    }


    .main_section{
        order:3;
        width: 85%;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        height: 100%;

    }
    .select_section{
        order: 1;
        width: 98%;
        min-height: 50px;
        height: 3.125rem;
        margin:0 auto;
        font-weight: lighter;
        text-align: left;
        margin-left: 10px;
    }
    .select_title{
        background: transparent;
        margin-left: 10px;
        margin-left: 0.625rem;
        line-height: 45px;
        line-height: 2.8125rem;
    }




    .option_section{
        margin:10px;
        width: 96%;
    }



    .graph_section{
        order:3;
        width: 96%;
        margin: 10px;
    }






    .menubar_section{
        order:2;
        width: 15%;
        min-height: 100vh;
        margin-top:0;
    }

    .menubar_list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .menubar_list_item{
        margin-left: 10px;
        margin-left: 0.625rem;
        width: auto;
    }


    .menubar_list li a{
        margin-left: 15px;
        margin-left: 0.9375rem;
        display: flex;
        flex-flow: row;
        align-items: left;
        padding:20px 0;
        padding:1.25rem 0;
        font-weight: lighter;
        font-size:1.000em;
        font-size:1.000rem;
        width: 100%;
    }

    .menubar_list_item{
        margin-top: 0;
    }

}





/*pc*/
@media all and (min-width: 960px) {

    #wrap{
        position: relative;
        width: 100%;
    }
    #chart-container {
        display: flex;
        justify-content: center;
        width: 98%;
        height:15.625rem;
        margin: 1%;

    }
    #chart-container_2{
        display: flex;
        justify-content: center;
        width: 98%;
        height:15.625rem;
        margin: 1%;
    }

    .header{
        order:1;

    }

    .logo{
        width:12.5%;
        /* 120px ÷ 960px */
    }

    .nav{
        position:relative;
        min-height:50px;
        min-height:3.125rem;
        background:transparent;;
    }

    .gnb{
        position:absolute;
        top:100%;
        right:0;
        z-index:20;
        width:40.10416666666667%;
        /* 308px ÷ 768px */
    }

    .menu_toggle_btn{
        top:50%;
        right:30px;
        right:1.875rem;
        z-index:20;
        margin-top:-15px;
        margin-top:-0.938rem;
    }






}