@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body{
    background : #1E1F21;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size:1.000em;
    font-size:1.000rem;
    font-weight: normal;
}
/*모바일*/
#wrap{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
}

#wrap section{
    box-sizing: border-box;
}

/*자동 입력폼 색 없애기*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #fff !important;
}




.header{
    display:flex;
    order:1;
    flex-direction:column;
    position:relative;
    width:100%;
}

.logo{
    order:1;
    width:100%;
    padding:15px 0;
    padding:0.9375rem 0;
    font-size:1.188em;
    font-size:1.188rem;
    text-align:center;
    text-transform:uppercase;
    background: transparent;
}

.logo a{
    color:#fff;
    font-weight: bold;
}

.nav{
    order:2;
    width:100%;
}

.gnb{
    display:none;
}

.gnb li{
    display:flex;
    background: #4b515f;
}

.gnb li a{
    width:80%;
    padding:20px 0;
    padding:1.250rem 0;
    font-size:0.938em;
    font-size:0.938rem;
    text-indent:20px;
    text-indent:1.250rem;
    font-weight:bold;
    text-transform:uppercase;
}

.gnb li span{
    width:20%;
    text-indent:-9999px;
    background:url(../images/s_images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor:pointer;
}

.menu_toggle_btn{
    display:block;
    width:30px;
    width:1.875rem;
    height:30px;
    height:1.875rem;
    position:absolute;
    top:10px;
    top:0.625rem;
    right:10px;
    right:0.625rem;
    text-indent:-9999px;
    background:url(../images/menu_toggle.png) no-repeat;
    cursor:pointer;
}





.main_section{
    order:2;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.select_section{
    background:#2d333d;
    width: 100%;
    order: 1;
    font-size:0.900em;
    font-size:0.900rem;
    font-weight: lighter;
    min-height: 30px;
    text-align: center;
    line-height: 25px;
}

form{
    order: 2;
}

.account_section{
    background:#4b515f;
    width: 98%;
    order: 2;
    margin: 1%;
    font-weight: lighter;
    min-height: 30px;
    line-height: 25px;
    display: flex;
    flex-flow: row;
}

.account_section select {
    margin: 1%;
    padding: 0.5%;
    min-width: 15%;
    border: 0;
    box-shadow: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: lighter;
    font-size:0.900em;
    font-size:0.900rem;
    color:white;
    background:transparent;
    background-image: none;
    -webkit-appearance: none;
}

.account_section select:focus {
    outline: none;
}

.account_section input{
    border: 0;
    margin: 0.5%;
    padding: 0.5%;
    color: white;
    background: rgba(255,255,255,0.3);
}

.account_section input::placeholder{
    color:white;
}




.trade_section{
    display: flex;
    flex-flow: column nowrap;
    order: 3;
    width: 98%;
    margin: 1%;
    min-height: 200px;
    min-height: 12.5rem;
}

.sleep_list_section{
    order: 1;
    width: 100%;
    background: #4b515f;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    overflow: scroll;
    font-weight: lighter;
}

.sleep_list_plus{
    order: 1;
    padding: 2%;
    background: #2d333d;
}
.sleep_list_content{
    padding: 2%;
}
.selected{
    padding: 2%;
    background: #2c3e50;
}
.option_list_section{
    order: 2;
    width: 100%;
    background: #2c3e50;
    display: flex;
    flex-flow: column;
}

.coin_select_section{
    display: flex;
    flex-flow: row;
    width: 96%;
    margin: 2%;
}
.coin_select_section select{
    margin-left: 5%;
}

.buy_section, .sell_section{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 96%;
    margin: 2%;
    margin-bottom: 0;
}

.buy_section input, .sell_section input{
    margin-left:5%;
}
.title{
    color:#00aecf;
    font-weight: bolder;
    font-size:1.100em;
    font-size:1.100rem;
}
.only_check_span{
    font-size:0.800em;
    font-size:0.800rem;
    font-weight: lighter;
    margin-left: 0.3%;
}

.buy_option_section, .sell_option_section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 96%;
    margin: 2%;
    background: rgba(255,255,255,0.1);
}

.buy_option_div, .sell_option_div{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    padding: 2%;
    font-weight: lighter;
}

.buy_option_div span, .sell_option_div span{
    width: 40%;
    font-size:0.900em;
    font-size:0.900rem;
}

.buy_option_input, .sell_option_input{
    border: 0;
    background: rgba(255,255,255,0.1);
    margin-left: 2%;
    color:white;
    font-weight: lighter;
    min-height: 25px;
    width: 50%;
}

.choose_section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 96%;
    margin: 2%;
    font-size:0.800em;
    font-size:0.800rem;
    font-weight: lighter;
}

.choose_section input{
    margin-left: 2%;
    margin-right: 1%;
}

.choose_section button{
    margin-left: 5%;
    padding: 2%;
    background: #2d333d;
    color: #00aecf;
    border: 0;
}

.trailing_input{
    border: 0;
    background: rgba(255,255,255,0.1);
    margin-left: 2%;
    color:white;
    font-weight: lighter;
    min-height: 25px;
    width: 24%;
}


/*메뉴바*/
.menubar_section{
    display: flex;
    order:3;
    background: #2d333d;;
    width: 100%;
    margin-top:10px;
}

.menubar_list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width:100%;
}

.menubar_list li a{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding:8px 0;
    padding:0.5rem 0;
    font-weight: lighter;
    font-size:0.800em;
    font-size:0.800rem;
    width: 60px;
}

.menubar_list_item{
    margin-top: 8px;
}



.select_menubar{
      background: #4b515f;
}
.select_menubar i{
    color:#04aacc;
}












/*태블릿*/
@media all and (min-width:768px) {

    #wrap{
        flex-flow: row wrap;
    }

    .header{
        flex-direction:row;
    }

    .logo{
        position:absolute;
        top:0;
        left:0;
        z-index:10;
        width:15.625%;
        /* 120px ÷ 768px */
        padding: 10px;

    }

    .logo a{
        display:block;

    }

    .nav{
        position:relative;
        min-height:50px;
        min-height:3.125rem;
        background:transparent;
    }

    .gnb{
        position:absolute;
        top:100%;
        right:0;
        z-index:20;
        width:40.10416666666667%;
        /* 308px ÷ 768px */
    }

    .menu_toggle_btn{
        top:50%;
        right:30px;
        right:1.875rem;
        z-index:20;
        margin-top:-15px;
        margin-top:-0.938rem;
    }


    .main_section{
        order:3;
        width: 85%;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        height: 100%;

    }
    .select_section{
        order: 1;
        width: 98%;
        min-height: 50px;
        height: 3.125rem;
        margin:0 auto;
        font-weight: lighter;
        text-align: left;
        margin-left: 10px;
    }
    .select_title{
        background: transparent;
        margin-left: 10px;
        margin-left: 0.625rem;
        line-height: 45px;
        line-height: 2.8125rem;
    }


    .trade_section{
        flex-flow: row;
    }
    .sleep_list_section{
        width: calc(100% - 85%);
        flex-flow: column;
    }
    .sleep_list_plus{
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
    }
    .sleep_list_content{
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .sleep_list_content_selected{
        padding: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .option_list_section{
        width: calc(100% - 16%);
    }

    .buy_option_div, .sell_option_div{
        width: 46%;
    }









    .menubar_section{
        order:2;
        width: 15%;
        min-height: 100vh;
        margin-top:0;
    }

    .menubar_list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .menubar_list_item{
        margin-left: 10px;
        margin-left: 0.625rem;
        width: auto;
    }


    .menubar_list li a{
        margin-left: 15px;
        margin-left: 0.9375rem;
        display: flex;
        flex-flow: row;
        align-items: left;
        padding:20px 0;
        padding:1.25rem 0;
        font-weight: lighter;
        font-size:1.000em;
        font-size:1.000rem;
        width: 100%;
    }

    .menubar_list_item{
        margin-top: 0;
    }





}





/*pc*/
@media all and (min-width: 960px) {

    #wrap{
        position: relative;
        width: 100%;
    }

    .header{
        order:1;

    }

    .logo{
        width:12.5%;
        /* 120px ÷ 960px */
    }

    .nav{
        position:relative;
        min-height:50px;
        min-height:3.125rem;
        background:transparent;;
    }

    .gnb{
        position:absolute;
        top:100%;
        right:0;
        z-index:20;
        width:40.10416666666667%;
        /* 308px ÷ 768px */
    }

    .menu_toggle_btn{
        top:50%;
        right:30px;
        right:1.875rem;
        z-index:20;
        margin-top:-15px;
        margin-top:-0.938rem;
    }






    }